:root {
    --primary-color: #e50914;
    --bg-color: #060606;
}

body {
    background-color: var(--bg-color);
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 0; padding: 0;
}

header {
    background: rgba(0, 0, 0, 0.98);
    position: fixed;
    top: 0; width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #222;
}

.header-container {
    display: flex;
    flex-direction: column; /* Celular primeiro */
    align-items: center;
    padding: 10px 0;
    gap: 8px;
}

.logo { font-family: 'Oswald', sans-serif; font-size: 26px; text-transform: uppercase; }
.logo span { color: var(--primary-color); }

nav ul { list-style: none; display: flex; gap: 20px; margin: 0; padding: 0; }
nav a { color: #e5e5e5; text-decoration: none; font-size: 13px; font-weight: bold; text-transform: uppercase; }

.search-box { width: 90%; max-width: 400px; }
.search-box input {
    width: 100%; background: #181818; border: 1px solid #333; color: white;
    padding: 12px; border-radius: 8px; outline: none; font-size: 14px;
    box-sizing: border-box;
}

.categorias-bar {
    display: flex; gap: 10px; padding: 10px 15px;
    overflow-x: auto; width: 100%; justify-content: flex-start;
}

#catalogo {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); /* 2 filmes por linha no celular */
    gap: 15px; 
    padding: 240px 15px 50px 15px; /* Espaço para não cobrir no celular */
}

/* AJUSTES PARA PC */
@media (min-width: 800px) {
    .header-container { flex-direction: row; justify-content: space-between; padding: 10px 5%; height: 70px; }
    .search-box { max-width: 350px; }
    #catalogo {
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        padding-top: 180px; 
        padding-left: 5%; padding-right: 5%;
    }
}

.card { background: #111; border-radius: 8px; overflow: hidden; cursor: pointer; }
.card img { width: 100%; aspect-ratio: 2/3; object-fit: cover; display: block; }
.card h3 { font-size: 12px; padding: 8px; margin: 0; text-align: center; }

/* MODAIS */
.modal { display: none; position: fixed; z-index: 2000; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.95); }
.modal-content-detalhes {
    position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);
    width: 95%; background: #141414; padding: 20px; border-radius: 10px;
}
.detalhes-flex { display: flex; flex-direction: column; align-items: center; gap: 15px; text-align: center; }
#detalheCapa { width: 140px; border-radius: 5px; }
.play-btn { background: var(--primary-color); color: white; border: none; padding: 12px 30px; border-radius: 5px; font-weight: bold; }

.modal-content { position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 90%; aspect-ratio: 16/9; }
#videoFrame { width: 100%; height: 100%; border: none; }
.close { position: absolute; top: -45px; right: 0; color: white; font-size: 40px; cursor: pointer; }5px; }
